{% extends 'base.html.twig' %}

{% block title %}Lieu{% endblock %}

{% block body %}
    <h1>Lieu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lieu.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ lieu.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ lieu.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ lieu.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('lieu_index') }}">back to list</a>

    <a href="{{ path('lieu_edit', {'id': lieu.id}) }}">edit</a>

    {{ include('lieu/_delete_form.html.twig') }}
{% endblock %}
