{% extends 'base.html.twig' %}

{% block title %}Enseignant{% endblock %}

{% block body %}
    <h1>Enseignant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ enseignant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ enseignant.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('enseignant_index') }}">back to list</a>

    <a href="{{ path('enseignant_edit', {'id': enseignant.id}) }}">edit</a>

    {{ include('enseignant/_delete_form.html.twig') }}
{% endblock %}
