{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}
    <h1>Cours index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>DateCreat</th>
                <th>DateModif</th>
                <th>Ects</th>
                <th>NbHTp</th>
                <th>NbHTd</th>
                <th>NbHCm</th>
                <th>semestre</th>
                <th>enseignant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
                <td>{{ cour.id }}</td>
                <td>{{ cour.nom }}</td>
                <td>{{ cour.description }}</td>
                <td>{{ cour.dateCreat ? cour.dateCreat|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cour.dateModif ? cour.dateModif|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cour.ects }}</td>
                <td>{{ cour.nbHTp }}</td>
                <td>{{ cour.nbHTd }}</td>
                <td>{{ cour.nbHCm }}</td>
                <td>
                    {{ cour.semestre.id }}
                </td>
                <td>
                    {{ cour.enseignant.nom }}
                </td>
                <td>
                    <a href="{{ path('cours_show', {'id': cour.id}) }}">show</a>
                    <a href="{{ path('cours_edit', {'id': cour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cours_new') }}">Create new</a>
{% endblock %}
