{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <h1>Cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ cour.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ cour.description }}</td>
            </tr>
            <tr>
                <th>DateCreat</th>
                <td>{{ cour.dateCreat ? cour.dateCreat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateModif</th>
                <td>{{ cour.dateModif ? cour.dateModif|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Ects</th>
                <td>{{ cour.ects }}</td>
            </tr>
            <tr>
                <th>NbHTp</th>
                <td>{{ cour.nbHTp }}</td>
            </tr>
            <tr>
                <th>NbHTd</th>
                <td>{{ cour.nbHTd }}</td>
            </tr>
            <tr>
                <th>NbHCm</th>
                <td>{{ cour.nbHCm }}</td>
            </tr>
            <tr>
                <th>semestre</th>
                <td>
                        {{ cour.semestre.id }}
                </td>
            </tr>
            <tr>
                <th>enseignant</th>
                <td>
                        {{ cour.enseignant.nom }}
                    </td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('cours_index') }}">back to list</a>

    <a href="{{ path('cours_edit', {'id': cour.id}) }}">edit</a>

    {{ include('cours/_delete_form.html.twig') }}
{% endblock %}
